.header{
    background-color: black;
    /* display: flex; */
    position: relative; /* using position: sticky would allow for the header to remain even when the user scrolls down*/
    display: flex; 
    width: 100%;
    padding: 0;
    margin: 0; 
    
}

div.header h1{
    color: white; 
    display: inline;
}

 div.header #button-container{
    position: absolute; 
    right: 5px; 
    margin-top: 4%;
}

div.header button{
    background-color: black; 
    color: white; 
    border: none; 
    
}

div.header .hide{
  visibility: hidden; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    /* width: 200px;
    height: 450px;  */
    margin: auto;
    text-align: center;
    font-family: arial;

  }
  
  .price {
    color: grey;
    font-size: 22px;
    /* border-top: solid .3px #eeefef;  */
    /* border-bottom: solid .3px #eeefef; */
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .card h1{ 
    border-bottom: solid .3px #eeefef;
    /* padding-bottom: 1rem;  */
    height: 5rem; 
  }

  div.image-container{
    height: 19rem; 
    width: auto; 
    object-fit: cover;
  }

  #items{
      display: flex; 
      flex-wrap: wrap; 
      margin: 0 -5px;
      justify-content: center; 

  }

  #items:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .card img{
    /* height: 300px; 
    width: auto;  */
    /* box-sizing: border-box; */
    
  }

  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }


/******* Nav Checkout *********/
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ABOUT POPUP CSS */ 
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}




